IS 675: Data Mining
Summer 2019
# Homework Assignment 4 (Due July, 7 2019, midnight EST)



1. Load the diamonds dataset attached to this assignment. (10)
1. Encode the categorical attributes cut, color, and clarity into numerical codes. (20 points)
1. Discretize the target attribute price into three discrete values: low, medium, and high. (20 points) [Hint: use `qcut()`  in `pandas`]
1. Split the data into 80% training and the other 20% for testing. (10)
1. Create a multinomial na誰ve Bayesian classifier and test the model.  (10 points)
1. Print the accuracy and the confusion matrix. (10)
1. Create a Gaussian na誰ve Bayesian classifier and test the model.  (10 points)
1. Print the accuracy and the confusion matrix. (10)

In [1]:
import pandas as pd
from sklearn import preprocessing, model_selection
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import MultinomialNB, GaussianNB

## 1. Load the diamonds dataset attached to this assignment. (10)

In [2]:
diamonds = pd.read_csv('diamonds.csv')
diamonds.head()

   carat      cut color clarity  depth  table  price
0   0.23    Ideal     E     SI2   61.5   55.0    326
1   0.21  Premium     E     SI1   59.8   61.0    326
2   0.23     Good     E     VS1   56.9   65.0    327
3   0.29  Premium     I     VS2   62.4   58.0    334
4   0.31     Good     J     SI2   63.3   58.0    335

## 2. Encode the categorical attributes cut, color, and clarity into numerical codes. (20 points)

In [3]:
label_encoder = preprocessing.LabelEncoder()

cut_encoded = label_encoder.fit_transform(diamonds['cut'])
color_encoded = label_encoder.fit_transform(diamonds['color'])
clarity_encoded = label_encoder.fit_transform(diamonds['clarity'])

diamonds.drop('cut', 1)
diamonds['cut'] = cut_encoded
diamonds.drop('color', 1)
diamonds['color'] = color_encoded
diamonds.drop('clarity', 1)
diamonds['clarity'] = clarity_encoded

diamonds.head()

   carat  cut  color  clarity  depth  table  price
0   0.23    2      1        3   61.5   55.0    326
1   0.21    3      1        2   59.8   61.0    326
2   0.23    1      1        4   56.9   65.0    327
3   0.29    3      5        5   62.4   58.0    334
4   0.31    1      6        3   63.3   58.0    335

## 3. Discretize the target attribute price into three discrete values: low, medium, and high. (20 points) [Hint: use `qcut()` in pandas]

In [4]:
price_descretized = pd.qcut(diamonds['price'], 3, labels=['low', 'medium', 'high'])
diamonds['price'] = price_descretized
diamonds.head()

   carat  cut  color  clarity  depth  table price
0   0.23    2      1        3   61.5   55.0   low
1   0.21    3      1        2   59.8   61.0   low
2   0.23    1      1        4   56.9   65.0   low
3   0.29    3      5        5   62.4   58.0   low
4   0.31    1      6        3   63.3   58.0   low

## 4. Split the data into 80% training and the other 20% for testing. (10)

In [5]:
diamonds = diamonds.drop('price', 1)
x_train, x_test, y_train, y_test = model_selection.train_test_split(diamonds, price_descretized, test_size=0.4)

## 5. Create a multinomial na誰ve Bayesian classifier and test the model. (10 points)

In [6]:
multinomial_nb = MultinomialNB()
multinomial_nb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

## 6. Print the accuracy and the confusion matrix. (10)

In [7]:
y_pred_mnb = multinomial_nb.predict(x_test)
mnb_accuracy = multinomial_nb.score(x_test, y_test)
print('Accuracy: ', mnb_accuracy)
mnb_confusion_matrix = confusion_matrix(y_test, y_pred_mnb)
mnb_confusion_matrix

Accuracy:  0.5972840192806822

array([[4845,  170, 2039],
       [ 650, 4726, 1983],
       [1876, 1971, 3316]])

## 7. Create a Gaussian na誰ve Bayesian classifier and test the model. (10 points)

In [8]:
gaussian_nb = GaussianNB()
gaussian_nb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## 8. Print the accuracy and the confusion matrix. (10)

In [9]:
y_pred_gaussian = gaussian_nb.predict(x_test)
gnb_accuracy = gaussian_nb.score(x_test, y_test)
print('Accuracy: ', gnb_accuracy)
guass_confusion_matrix = confusion_matrix(y_test, y_pred_gaussian)
y_pred_mnb = multinomial_nb.predict(x_test)
mnb_accuracy = multinomial_nb.score(x_test, y_test)
print('Accuracy: ', mnb_accuracy)
mnb_confusion_matrix = confusion_matrix(y_test, y_pred_mnb)
mnb_confusion_matrix

Accuracy:  0.8814886911383019
Accuracy:  0.5972840192806822

array([[4845,  170, 2039],
       [ 650, 4726, 1983],
       [1876, 1971, 3316]])